---
import { url } from '../lib/data';
import DropdownYears from '../modules/LandingReadme/DropdownYears.astro';
import TripleDropdown from './component/TripleDropDown.astro';
---

<main>
	<div class="p-5 mt-20 lg:mt-0">
		<div class="justify-between flex items-center">
			<h1 class="text-normal dark:text-neutral-200 text-2xl">Dashboard</h1>
			<!-- dropdown years components -->
			<DropdownYears />
		</div>
		<nav aria-label="breadcrumb" class="w-full mb-10 mt-2 dark:text-gray-800">
			<ol class="flex h-8 space-x-2 dark:text-gray-800">
				<li class="flex items-center">
					<a
						rel="noopener noreferrer"
						href={url('')}
						title="Back to homepage"
						class="flex items-center text-blue-500 hover:underline"
						>Dashboard</a
					>
				</li>
				<li class="flex items-center space-x-1">
					<span class="dark:text-gray-600">/</span>
					<a
						rel="noopener noreferrer"
						href="#"
						class="flex items-center px-1 capitalize text-blue-500 hover:underline"
						>Informasi Pembangunan Daerah</a
					>
				</li>
				<li class="flex items-center space-x-1">
					<span class="dark:text-gray-600">/</span>
					<a
						rel="noopener noreferrer"
						href="#"
						class="flex items-center px-1 capitalize dark:text-neutral-400 hover:underline"
						>Sumber Pendanaan</a
					>
				</li>
			</ol>
		</nav>

		<TripleDropdown />
	</div>
</main>
