---
import { url } from '../lib/data';
import DropdownYears from '../modules/LandingReadme/DropdownYears.astro';
import TripleDropdown from './component/TripleDropDown.astro';

import ShowEntries from './component/ShowEntries.astro';

// import Table Components
import TableHeadSP from './Table/TableHeadSP.astro';
---

<main>
	<div class="p-5 mt-20 lg:mt-0">
		<div class="justify-between flex items-center">
			<h1 class="text-normal dark:text-neutral-200 text-2xl">Dashboard</h1>
			<DropdownYears />
		</div>
		<nav aria-label="breadcrumb" class="w-full mb-10 dark:text-gray-800">
			<ol class="flex mt-3 space-x-2 dark:text-gray-800">
				<li class="flex items-center">
					<a
						rel="noopener noreferrer"
						href={url('')}
						title="Back to homepage"
						class="flex items-center text-blue-500 hover:underline">Dashboard</a
					>
				</li>
				<li class="flex items-center space-x-1">
					<span class="dark:text-gray-600">/</span>
					<a
						rel="noopener noreferrer"
						href="#"
						class="flex items-center px-1 capitalize text-blue-500 hover:underline"
						>Informasi Pembangunan Daerah</a
					>
				</li>
				<li class="flex items-center space-x-1">
					<span class="dark:text-gray-600">/</span>
					<a
						rel="noopener noreferrer"
						href="#"
						class="flex items-center px-1 capitalize text-neutral-400 hover:underline"
						>Sumber Pendanaan</a
					>
				</li>
			</ol>
		</nav>

		<TripleDropdown />

		<div class="bg-white rounded-3xl dark:bg-[#151419]">
			<div class="mt-5">
				<ShowEntries />
			</div>
			<table class="min-w-full mt-5">
				<!-- for thead -->
				<TableHeadSP />
				<tbody class="p-10">
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1106</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.ACEH BESAR</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.2.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>111.222.333.444.555</td
						>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1202</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.TAPANULI UTARA</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.1.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>110.220.330.440.550</td
						>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">3</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1601</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.OGAN KOMERING ULU</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.5.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>22.000.564.211.000</td
						>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">4</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">9212</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.PEGUNUNGAN ARFAK</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.9.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>300.545.665.589.000</td
						>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">5</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">9109</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">KAB.MIMIKA</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.8.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>245.795.336.126.565</td
						>
					</tr>
				</tbody>
			</table>
			<p
				class="text-sm text-start p-5 pt-1 text-gray-500 mt-10 dark:text-white"
			>
				Data Update: 17 agustus 2024
			</p>
		</div>
	</div>
</main>
