---
import ShowEntries from './component/ShowEntries.astro';
import DropDownYears from '../app/component/DropdownYears.astro';
import BreadCrumb from './component/BreadCrumb.astro';
import TableHeadTematik from '../app/Table/TableHeadTematik.astro';
---

<main class="p-5">
	<div class="flex items-start justify-between">
		<div class="grid">
			<h1 class="text-normal dark:text-neutral-200 text-2xl">Tematik</h1>
			<BreadCrumb />
		</div>
		<div>
			<DropDownYears />
		</div>
	</div>

	<div class="bg-white rounded-3xl dark:bg-[#151419]">
		<ShowEntries />
		<div>
			<table class="min-w-full mt-5">
				<!-- for thead -->
				<TableHeadTematik />
				<tbody class="p-10">
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1106</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.ACEH BESAR</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.2.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>111.222.333.444.555</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">Aceh Kota</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">10%</td>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1202</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.TAPANULI UTARA</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.1.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>110.220.330.440.550</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">Papua Kota</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">10%</td>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">3</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1601</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.OGAN KOMERING ULU</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.5.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>22.000.564.211.000</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">Aceh Kota</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">10%</td>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">4</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">9212</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>KAB.PEGUNUNGAN ARFAK</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.9.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>300.545.665.589.000</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">Aceh Kota</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">10%</td>
					</tr>
					<tr>
						<td class="p-4 text-sm text-gray-900 dark:text-white">5</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">9109</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">KAB.MIMIKA</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">1.01.8.2</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white"
							>245.795.336.126.565</td
						>
						<td class="p-4 text-sm text-gray-900 dark:text-white">Aceh Kota</td>
						<td class="p-4 text-sm text-gray-900 dark:text-white">10%</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</main>
